@model PageNatedList<ProductListVM>
@{ 
    int count = 1;
}  
<table class="table align-items-center mb-0">
    <thead>
        <tr>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Count</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Picture</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Price/Discounted Price</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Settings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
        <tr>
            <td>
                <p class="text-xs font-weight-bold mb-0">@(count++)</p>
            </td>
            <td>
                <div class="d-flex px-2 py-1">
                    <div>
                        <img src="~/Manage/assets/img/productMainImg/@product.MainImage" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm"></h6>
                    </div>
                </div>
            </td>
            <td>
                <p class="text-xs font-weight-bold mb-0">@product.Name</p>
            </td>
            <td>
                <p class="text-xs font-weight-bold mb-0">@(product.Price)/@(product.DiscountedPrice)</p>
            </td>
           
            <td class="align-middle text-center text-sm">
                <span class="badge badge-sm @(product.IsDeleted == false ? " bg-gradient-success" : " bg-gradient-secondary")">@(product.IsDeleted == false ? "Active" : "Deleted")</span>
            </td>
            <td class="align-middle text-center">
                @if (product.IsDeleted)
                {
                    <a asp-area="manage" asp-controller="product" asp-action="restore" asp-route-id="@product.Id" class="text-white font-weight-bold text-xs btn btn-primary" data-toggle="tooltip" data-original-title="Edit user">
                        Restore
                    </a>
                }
                else
                {
                    <a asp-area="manage" asp-controller="product" asp-action="delete" asp-route-id="@product.Id" class="text-white font-weight-bold text-xs btn btn-danger" data-toggle="tooltip" data-original-title="Edit user">
                        Delete
                    </a>
                }
                <a asp-area="manage" asp-controller="product" asp-action="update" asp-route-id="@product.Id" class="text-white font-weight-bold text-xs btn btn-secondary" data-toggle="tooltip" data-original-title="Edit user">
                    Edit
                </a>
            </td>
        </tr>
        }

    </tbody>
</table>
