@model PageNatedList<Order>

@{
    ViewData["Title"] = "Index";
}

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <h6 class="font-weight-bolder mb-0">Product</h6>
            </nav>
        </div>
        <div class="col-lg-6">
            <form>
                <div class="row align-items-start">
                    <div class="col">
                        <label class="form-label">Order Status</label>
                        <select name="status" class="form-select" aria-label="Default select example">
                            @if (ViewBag.Status == 0)
                            {
                                <option selected value="0">All</option>
                            }
                            else
                            {
                                <option value="0">All</option>
                            }

                            @if (ViewBag.Status == 1)
                            {
                                <option selected value="1">Deleted</option>
                            }
                            else
                            {
                                <option value="1">Deleted</option>
                            }

                            @if (ViewBag.Status == 2)
                            {
                                <option selected value="2">Active</option>
                            }
                            else
                            {
                                <option value="2">Active</option>
                            }
                        </select>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" type="submit">Filter</button>
                    </div>
                </div>
            </form>
        </div>

    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">Authors table</h6>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            @await Html.PartialAsync("_OrderIndexPartial", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <ul class="pagination ">
                @if (Model.HasPrev)
                {
                    <li class="page-item"><a class="page-link" asp-area="manage" asp-controller="order" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="1">@("<<")</a></li>
                    <li class="page-item"><a class="page-link" asp-area="manage" asp-controller="order" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="@(Model.Page-1)">@("<")</a></li>

                }

                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="page-item"><a class="page-link" asp-area="manage" asp-controller="order" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="@i">@i</a></li>

                }
                @if (Model.HasNext)
                {
                    <li class="page-item"><a class="page-link" asp-area="manage" asp-controller="order" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="@(Model.Page+1)">@(">")</a></li>
                    <li class="page-item"><a class="page-link" asp-area="manage" asp-controller="order" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="@Model.PageCount">@(">>")</a></li>
                }

            </ul>
        </div>
        <footer class="footer py-4  ">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 mb-lg-0 mb-4">
                        <div class="copyright text-center text-sm text-muted text-lg-start">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>,
                            made with <i class="fa fa-heart"></i> by
                            <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
                            for a better web.
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</main>
